@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
  --Color:#253E5F;
  --ActiveColor:#1890FF;
  --GrayColor:#BBC3CD;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* overflow: hidden; */
  background-color: #FAFAFA;
  font-family: 'Montserrat';
  color: var(--Color);
}

#demo-simple-select{
  padding:10px 16px 10px;
}
.MuiFormControl-root{
  width: auto !important;
  
}
.MuiInputBase-input{
  padding: 10px !important;
}